@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;900&display=swap');

body {
  line-height: 32px;
  color: #0A1F44;
  font-family: 'Inter', sans-serif;
  background-image: url(../img/bg-img.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
h1,h2,h3,h4,h5,h6 {
   font-weight: 700;
   letter-spacing: 1px;
   color: #1A50AE;
}
h5 {
  text-align: center;
  margin-bottom: 2rem;
}
a {
   font-weight: 700;
   transition: all 0.4s ease;
   text-decoration: none;
   cursor: pointer;
}
small {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #4E5D78;
}
.icon-box {
  color: #003366;
  border-radius: 100%;
  border: 1px solid #B3DAFF;
  background-color: #F8FBFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-box-sm {
  width: 40px;
  height: 40px;
  font-size: 25px;
}
.icon-box-md {
  width: 70px;
  height: 70px;
  font-size: 33px;
}
.icon-box-l {
  width: 96px;
  height: 96px;
  font-size: 46px;
}
.icon-box-xl {
  width: 110px;
  height: 110px;
  font-size: 46px;
}
.container {
  max-width: 1420px;
}
/*   NAVBAR   */
nav {
  border-bottom: 1px solid #e1e1e1;
}
.navbar-brand h4{
  margin: 0
}
.navbar-brand i {
  font-size: 40px;
}
.navbar-brand p {
  font-size: 14px;
  color: #01408F;
  margin: 0;
}
.bir {
  font-weight: 900;
  color: #175EAC;
}
.pencere {
  font-weight: 500;
  color: #4B95D1;
}
.navbar-nav li {
  margin-left: 1rem;
  cursor: pointer;
}
.navbar-nav li a{
  line-height: 28px;
  font-size: 16px;
  color: #0A1F44;
}
.asan-logo {
  width: 25px;
  height: 25px;
  margin-right: 0.5rem;
}
.log-in {
  padding: 5px 10px;
  color: #003DA5 !important;
  font-weight: 600;
  border: 1px solid #003DA5;
  border-radius: 10px;
}
/*   HERO   */
#hero-section {
  height: 600px;
  position: relative;
  background-image: url(../img/hero.png);
  background-position: center;
  background-size: cover;
}
.slide-box {
  position: absolute;
  bottom: 25px;
  right: 90px;
}
.slide-btn {
  margin-left: 1rem;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  cursor: pointer;
}
.slide-design-1 {
    width: 15px;
    height: 15px;
    background-color: #fff;
    margin: auto;
    clip-path: polygon(53% 8%, 15% 50%, 53% 92%, 45% 100%, 0% 50%, 45% 0);
}
.slide-design-2 {
    width: 15px;
    height: 15px;
    background-color: #fff;
    margin: auto;
    clip-path: polygon(55% 0, 100% 50%, 55% 100%, 47% 92%, 85% 50%, 47% 8%);
}
/*   E SERVICE   */
#e-service {
  margin: 70px 0;
  font-size: 20px;
}
#e-service h6 {
  text-align: center;
  max-width: 260px;
}
#e-service .row .service-card {
  width: 100%;
  height: 250px;
  border: 2px solid #E7ECF5;
  border-radius: 4px;
  box-shadow: 0 3px 3px rgb(0 0 0 / 0.1);
  cursor: pointer;
}
/*   USEFUL   */
#useful {
  margin-bottom: 180px;
}
#useful .row .useful-card {
  width: 100%;
  height: 130px;
  border: 2px solid #E7ECF5;
  border-radius: 4px;
  cursor: pointer;
}
#useful h6 {
  max-width: 200px;
}
/*   ADVANTAGES   */
#advantages {
  background-color: #FBF8F2;
  background-image: url(../img/Frame.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 45px 0 75px;
  margin-bottom: 15px;
}
#advantages .row .advantages-card {
  width: 100%;
  height: 351px;
  font-size: 20px;
  font-weight: 700;
  background-color: #fff;
  border: 1px solid #E1E4E8;
  border-radius: 4px;
  box-shadow: 0 16px 16px rgb(0 0 0 / 0.1);
}
#advantages .row .advantages-card p {
  margin: auto 30px;
}
#advantages .row h4 {
  font-size: 28px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 45px;
  color: #000;

}
.rectangle-icon {
  width: 76px;
  height: 76px;
  border-radius: 23.93px;
  margin: 30px 30px;
  display: flex;
  font-size: 47px;
}
.rect-icon-1 {
  color: #003DA5;
  background-color: #BAE1FF;
  box-shadow: 0 11px 11px rgb(186 225 255 / 0.2);
}
.rect-icon-2 {
  color: #006242;
  background-color: #BAFFC9;
  box-shadow: 0 11px 11px rgb(186 255 201 / 0.2);
}
.rect-icon-3 {
  color: #726557;
  background-color: #FFDFBA;
  box-shadow: 0 11px 11px rgb(255 223 186 / 0.2);
}
.rect-icon-4 {
  color: #32523A;
  background-color: #E1EADA;
  box-shadow: 0 11px 11px rgb(225 234 218 / 0.2);
}
.rect-icon-5 {
  color: #695048;
  background-color: #F5BBA9;
  box-shadow: 0 11px 11px rgb(245 187 169 / 0.2);
}
/*   PROCEDURE   */
#procedure {
  margin-bottom: 283px;
}
#procedure .col-12 h5{
  margin: 60px auto;
}
.procedure-card {
  width: 100%;
  max-width: 450px;
  height: 351px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding: 2rem;
  margin: auto;
  background-color: #fff;
  border: 1px solid #E1E4E8;
  border-radius: 4px;
  box-shadow: 0 3px 3px rgb(0 0 0 / 0.1);
}
.procedure-card p {
  margin-bottom: 3rem;
}
.procedure-card p span {
  font-weight: 500;
  color: #4E5D78;
}
.box-number {
  width: 94.94px;
  height: 94.94px;
  font-size: 33.75px;
  color: #0BB07B;
  border: 4px solid #0BB07B;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.appeal-card {
  width: 100%;
  min-height: 351px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding: 3rem 9.5vw;
  background-color: #fff;
  border: 1px solid #E1E4E8;
  border-radius: 4px;
  box-shadow: 0 3px 3px rgb(0 0 0 / 0.1);
  position: relative;
  overflow: hidden;
}
.more {
  position: absolute;
  right: -2px;
  bottom: -2px;
  padding: 8px 42px;
  background-color: #EEF7FF;
  border: 2px solid #83C3FE;
  border-top-left-radius:  4px;
}
.appeal-1 {
  width: 132px;
  margin: auto;
}
.appeal-2 {
  width: 238px;
  align-self: center;
  margin: auto;
}
.appeal-3 {
  width: 280px;
  align-self: flex-end;
  margin: auto;
}
@media (min-width:992px){
  .appeal-1 {
    margin-left: 0;
  }
  .appeal-2 {
    margin: auto;
  }
  .appeal-3 {
    margin-right: 0;
  }
}
/*   FOOTER   */
.footer-logos {
  width: 100%;
  min-height: 198px;
  padding: 50px 150px;
  margin-bottom: 100px;
  background-color: rgba(255, 255, 255, 0.53);
  border-top: 2px solid #E1E4E8;
  border-bottom: 2px solid #E1E4E8;
}
.text-center img{
  cursor: pointer;
}
.footer-end {
  height: 60px;
  display: flex;
  background-color: #fff;
  border-top: 2px solid #E1E4E8;
}
.footer-end p {
  margin: auto;
  color: #8A94A6;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}
